body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
     }
p {
  font-size: 2rem;
  text-align: center;
}
#token {
  font-size: 1rem;
  font-weight: bold;
}
#tiempo {
  font-size: 1rem;
}

button {
   padding: 7px;
   border: none;
   border-radius: 4px;
   cursor: pointer;
}